* {
    /* outline: auto;  */
    background-color: #ffffff;
    font-family: monospace;
}


.title {
    display: flex;
    font-size: 60px;
    justify-content: center;
    width: 400px;
    border-radius: 100px / 50px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin: 0 auto;
    padding: 5px;
}

.buffer {
    background-color: aqua;
}

.title.text {
    /* border: 5px solid; */
    border-color: red;
    color: white;
    background-color: black;
}