* {
    background-color: #ede8d0;
    font-family: monospace;
}

.homelink {
    display: flex;
    justify-content: center;
    margin: -5px auto 5px;
    width: 40px;
    font-size: 15px;
}

.imagecontainer {
    text-align:center;
}


.titlecontainer {
    width: 50%;
    margin: 20px auto;
}

.title {
    border-radius: 100px/50px;
    padding: 5px;
    width: 60%;
    text-align: center;
    margin: 5px auto 5px;
    border: solid black 2px;
    font-size: 60px;
}

.title.pagetitle {
    background-color: black;
    color: #ede8d0;
}

.sectiontitle {
    width: 45%;
    font-size: 30px;
}

.subsectiontitle {
    width: 100%;
    font-size: 20px;
    margin: 5px auto 5px;
    text-align: center;
    text-decoration: underline;
}

.textbox.bodytext {
    width: 30%;
    margin: 0px auto 50px;
    /* border: 1px solid grey; */
}

.recipeimage {
    outline: 2px solid black;
    padding: 5px;
}

